<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>RDS Connection Demo</title>
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}

  {% if messages %}
    {% for message in messages %}
      {% if loop.index == 1 %}
	<div>
	        <div align="center">
			<p style="font-size: 2em;">Welcome to the server <b><font color="darkred">{{ message[1] }}</font></b></p>
      {% elif loop.index == 2 %}
      		</div>
	</div>
        <div align="center">
		<p style="font-size: 1.5em;">RDS service host IP is <b><font color="seagreen">{{ message[1] }}</font></b></p>
		<hr>
	</div>
	<div style="display: table; width: 100%;">
		<div style="width: 30%; display: table-cell;">
		</div>
		<div style="width: 70%; display: table-cell;">
      {% else %}
        		<h3 align="left">&rarr;&nbsp;{{ message[1] }}</h3>
      {% endif %}
    {% endfor %}
    		</div>
        </div>
  {% endif %}
	
{% endwith %}

	<div align="center">
        <form action="" method="post">
            {{ form.csrf }}
 
            <div class="input text">
                {{ form.rds_ip.label }} {{ form.rds_ip }}
            </div>
 
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
	</div>

</body>
</html>
